<form method="post" action="{{ path('app_bus_date_delete', {'id': bus_date.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bus_date.id) }}">
    <button class="btn">Delete</button>
</form>
